
{% extends 'index.html' %}
{% load static %}

{%block about%} active {%endblock%}
{%block history%} active {%endblock%}

{% block page %}



<!-- Start Page Title Area -->
		<div class="page-title-area bg-15">
			<div class="container">
				<div class="page-title-content">
					<h2></h2>

					<ul>
						<li>
							<a href="{% url 'home' %}">

							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Practice Areas Details Area -->
		<section class="practice-areas-details ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="practice-areas-content">
							<div class="practice-details-img">
								<img src="{% static 'assets/images/about/banner2.jpg' %}" alt="Image">
							</div>

							<h3 class="title">Древний период</h3>
							<p>Первые следы человеческой деятельности на территории Кыргызстана уходят в эпоху раннего или нижнего палеолита. Памятником этого времени было каменное орудие,  найденное А.П.Окладниковым в 1953 году  в Центральном Тянь-Шане, на левом берегу реки Он-Арча. Техника обработка каменного орудия позволяет датировать время его изготовления как 300 тысяча лет тому назад. Аналогичное изготовленное орудие выявлено в Ходжа-Бакырган-Сае на юге Кыргызстана.
 Эпоха энеолита представлена только древнейшей частью рисунков, выбитых на камнях урочища Саймалы-Таш. Это грандиозный культовый центр эпохи энеолита и бронзы до средневековья.</p>
							<h4>Советский период</h4>
							<p>Октябрьская революция (1917г.) в России, утверждение социалистического строя, права народов на самоопределение и образование СССР, стали переломным историческим этапом в истории Кыргызстана.</p>
							<p>С образованием Кара-Киргизской автономной области (14 октября 1924 г.) началось развитие кыргызской государственности  советского типа, что позволило без политических осложнений приобрести полный суверенитет  в 1991 году.</p>
<p>Эпоха социализма преобразила Кыргызстан, сделала его  индустриально-аграрным. Многоотраслевая промышленность, строительная индустрия и строительство, транспорт, связь, технически оснащенное сельское хозяйство, торговля и другие виды услуг стали органичными составными частями единого народнохозяйственного комплекса республики. В целом успешно решалась проблема занятости трудовых ресурсов, поднялся материальный уровень жизни населения.</p>


							<div class="row align-items-center">
								<div class="col-lg-6">
									<div class="reasonable-content mb-30">
										<h4>Независимый Кыргызстан</h4>
										<p>С 1991 года, после распада СССР, открывается новая страница в многовековой истории кыргызского народа. 31 августа Кыргызстан объявил себя суверенным государством и начался этап реформирования. Прежний тоталитарно-авторитарный режим КПСС был заменен авторитарно-демократическим. Внедрялись принципы демократического управления, вместо так называемой общенародной собственности (государственной) были внедрены разные формы собственности с приоритетом частной. Плановая экономика заменена рыночной, прежде социально однородное общество резко дифференцировалось. Коммунистическая идеология уступила буржуазно-либеральной, коллективистское сознание вытеснилось индивидуалистским.</p>
									</div>
								</div>

								<div class="col-lg-6">
									<div class="reasonable-content-img mb-30">
										<img src="{% static 'assets/images/about/banner3.jpg' %}" alt="Image">
										<p></p>
										<img src="{% static 'assets/images/about/banner2.jpg' %}" alt="Image">

									</div>
								</div>
							</div>



						</div>
					</div>

					<div class="col-lg-4">
						<div class="widget-sidebar ml-15">
							<div class="sidebar-widget categories">
								<h3>История</h3>

								<ul>
									<li>
										<a href="#">
											История создания службы
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>
									<li>
										<a href="#">
											История на 2014г
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>
									<li>
										<a href="#">
											История на 2015г
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>
									<li>
										<a href="#">
											История на 2015г
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>
									<li>
										<a href="#">
											История на 2016г
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>
									<li>
										<a href="#">
											История на 2017г
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>
									<li>
										<a href="#">
											История на 2018г
											<i class="ri-arrow-right-line"></i>
										</a>
									</li>

								</ul>
							</div>

<!--							<div class="sidebar-widget brochures mb-0">-->
<!--								<h3>Download Brochures</h3>-->

<!--								<ul>-->
<!--									<li>-->
<!--										<a href="practice-area-details.html">-->
<!--											<i class="ri-file-pdf-line"></i>-->
<!--											Download.pdf-->
<!--										</a>-->
<!--									</li>-->
<!--									<li>-->
<!--										<a href="practice-area-details.html">-->
<!--											<i class="ri-file-word-line"></i>-->
<!--											Our Presentation-->
<!--										</a>-->
<!--									</li>-->
<!--								</ul>-->
<!--							</div>-->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End PPractice Areas Details Area -->
{%endblock%}