
{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{%block about%} active {%endblock%}
{%block manager%} active {%endblock%}

{% block page %}



<!-- Start Page Title Area -->
		<div class="page-title-area bg-17">
			<div class="container">
				<div class="page-title-content">
					<h2></h2>

					<ul>
						<li>
							<a href="{% url 'home' %}">

							</a>
						</li>



					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Attorney Details Area -->
		<section class="attorney-details-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="attorney-details">
							<img src="{{ management.image.url }}" alt="Image">
							<h3>{{ management.name }}</h3>
							<span>{{ management.position }}</span>



							<ul class="info-list">
								<li>
									<span>{% trans 'Туулган күнү'%}: </span> {{management.date}}
								</li>
								<li>
									<span>{% trans 'Жергиликтүү'%}: </span> {{management.city}}
								</li>
								<li>
									<span>{% trans 'Улуту'%}:</span> {{management.national}}
								</li>
								<li>
									<span>Телефон:</span>{{management.address}}
								</li>
								<li>
									<span>{% trans 'Үй-бүлөлүк абал'%}:</span> {{management.family}}
								</li>
							</ul>

						</div>
					</div>

					<div class="col-lg-8">
						<div class="attorney-content">
							<h3>{% trans 'Билим'%}:</h3>

							<ul class="educations">
							{%for e in edu %}
								{%if e.management.id == management.id %}
								<li>{{e.education}}</li>
								{%endif%}
								{%endfor%}
							</ul>


							<h3>{% trans 'Иш тажрыйба'%}:</h3>
							<ul class="educations">
							{%for e in exp %}
								{%if e.management.id == management.id %}

								<li>{{e.exp}}</li>
								{%endif%}
								{%endfor%}
							</ul>




						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Attorney Details Area -->





{%endblock%}