{% extends 'index.html' %}
{% load static %}

{%block job%} active {%endblock%}

{% block page %}


<!-- Start Page Title Area -->
<div class="page-title-area bg-2">
    <div class="container">
        <div class="page-title-content">
            <h2></h2>

            <ul>
                <li>
                    <a href="{% url 'home' %}">

                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- End Terms & Conditions Area -->
<section class="ptb-100 vacancy">
    <div class="container">
        <div class="main-content-text">


            <div class="accordion-item">
                <h2 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                       Приложение №1
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table>
                    <thead>
                    <td style="padding-top: 20px; padding-left: 20px"><h5
                            style="display: inline; font-family: Helvetica;">Служба по контролю и надзору трудового
                        законодательства при Министерстве труда</h5> социального обеспечения и миграции Кыргызской
                        Республики в соответствии с Законом Кыргызской Республики «О государственной гражданской службе
                        и муниципальной службе» объявляет открытый конкурс для включения в резерв кадров на младшие
                        группы должностей <b>центрального аппарата:</b></p></td>
                    </thead>
                    <tr>
                        <td>
                            <h5>Для младшей группы административных государственных должностей:</h5>
                            <ul>
                                <ol><p>1. Уровень профессионального образования:
                                    - высшее профессиональное образование любого технического или юридического
                                    профиля.</p></ol>
                                <ol><p>2. Стаж и опыт работы:
                                    - без предъявления требований к стажу работы.</p></ol>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Общего законодательства:</h5>
                            <ul>
                                <ol><p>1. Конституции Кыргызской Республики;</p></ol>
                                <ol><p>2. Закона Кыргызской Республики «О государственной гражданской службе и
                                    муниципальной службе»;</p></ol>
                                <ol><p>3. Типовой инструкции по делопроизводству в Кыргызской Республике, утвержденной
                                    постановлением Правительства Кыргызской Республики от З марта 2020 года №120.</p>
                                </ol>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Предметного законодательства:</h5>
                            <ul>
                                <li>
                                    <p>- Трудового кодекса Кыргызской Республики;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке рассмотрения обращений граждан»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «Об охране труда»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке проведения проверок субъектов
                                        предпринимательства»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке проведения проверок деятельности
                                        органов местного самоуправления»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О нормативных правовых актах Кыргызской
                                        Республики»;</p>
                                </li>
                                <li>
                                    <p>- Положения «О расследовании и учёте несчастных случаев на производстве»,
                                        утверждённого постановлением Правительства Кыргызской Республики от 27 февраля
                                        2001 года № 64;</p>
                                </li>
                                <li>
                                    <p>- Положения «о Службе по контролю и надзору трудового законодательства при
                                        Министерстве труда, социального обеспечения и миграции Кыргызской Республики»,
                                        утверждённого постановлением Кабинета Министров Кыргызской Республики от 17
                                        декабря 2021 года №317»;</p>
                                </li>
                                <li><p>- государственного и официального языков в объёме, необходимом для исполнения
                                    должностных обязанностей.</p></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Умения:</h5>
                            <ul>
                                <li>
                                    <p>- стратегического планирования работы и применения новых подходов к решению
                                        возникающих проблем;</p>
                                </li>
                                <li>
                                    <p>- принятия решений критических ситуациях и несения ответственности за принятые
                                        решения;</p>
                                </li>
                                <li>
                                    <p>- качественного исполнения поручений вышестоящих руководителей;</p>
                                </li>
                                <li>
                                    <p>- качественной подготовки документов, информации, ответов на запросы;</p>
                                </li>
                                <li>
                                    <p>- эффективного сотрудничества с коллегами;</p>
                                </li>
                                <li>
                                    <p>- ведения деловых переговоров;</p>
                                </li>
                                <li>
                                    <p>- адаптации к новым условиям труда;</p>
                                </li>
                                <li>
                                    <p>- планирования работы и правильного распределения служебного времени;</p>
                                </li>
                                <li>
                                    <p>- деловой переписки на государственном и/или официальном языке;</p>
                                </li>
                                <li>
                                    <p>- рассмотрения и подготовки ответов по обращениям граждан;</p>
                                </li>
                                <li>
                                    <p>- работы в команде;</p>
                                </li>
                                <li>
                                    <p>- своевременного выявления и разрешения проблемных ситуаций, приводящих к
                                        конфликту интересов;</p>
                                </li>
                                <li>
                                    <p>- публичного выступления.</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Навыки:</h5>
                            <ul>
                                <li>
                                    <p>- работы с нормативными правовыми актами и применения их на практике;</p>
                                </li>
                                <li>
                                    <p>- владения приёмами делового общения и проведения совещаний, встреч;</p>
                                </li>
                                <li>
                                    <p>- оперативной реализации управленческих решений;</p>
                                </li>
                                <li>
                                    <p>- владения компьютерной и оргтехникой, необходимыми программными продуктами;</p>
                                </li>
                                <li>
                                    <p>- развитые навыки коммуникаций, умение эффективно и последовательно
                                        организовывать работу по взаимодействию со структурными подразделениями Службы,
                                        органами прокуратуры, другими контрольно-надзорными органами, а также органами
                                        местного самоуправления;</p>
                                </li>
                                <li>
                                    <p>- навыки по сбору и систематизации актуальной информации в установленной сфере
                                        деятельности, умение оперативно принимать и реализовывать решения в рамках своей
                                        компетенции, правильно расставлять приоритеты, адаптироваться к новой ситуации и
                                        применять новые подходы к решению возникающих проблем, видеть, поддерживать и
                                        применять новое, передовое;</p>
                                </li>
                                <li>
                                    <p>- быть требовательным, настойчивым, уметь эффективно сотрудничать, иметь
                                        склонность к гибкости и достижению компромисса при решении проблем в конфликтных
                                        ситуациях; чувство ответственности за порученное направление деятельности;</p>
                                </li>
                                <li>
                                    <p>- умение создавать эффективные взаимоотношения в коллективе (психологический
                                        климат).</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Для участия в конкурсе необходимо</h5><span>представить следующие документы в скоросшивателе:</span><br><br>
                            <ul>
                                <li>- личное заявление по форме;</li>
                                <li>- автобиографию (с указанием сведений о наличии либо отсутствии судимости);</li>
                                <li>- резюме с фотографией по форме;</li>
                                <li>- копии документов, подтверждающих основное и дополнительное образование (при
                                    наличии), заверенные нотариально или по последнему месту работы;
                                </li>
                                <li>- копия трудовой книжки (при наличии стажа работы), заверенная нотариально или по
                                    последнему месту работы;
                                </li>
                                <li>- копии документов о присвоении ученой степени и ученого звания (при наличии);</li>
                                <li>- копия паспорта (оригинал предъявляется по прибытии на конкурс).</li>
                            </ul>
                            <span>Лица, участвующие в конкурсе, могут дополнительно представить рекомендательные письма.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; padding-left: 20px;">
                            Срок подачи документов <b>с 7 июня по 30 июня 2022 года.</b><br>
                            Документы для участия в конкурсе принимаются <b>до 18-00 часов 30 июня 2022 года по
                            адресу:</b> <br> <b>г. Бишкек, ул. Московская, 197, справки по телефону 0 (312) 61 06
                            32.</b><br>
                            <b>ВНИМАНИЕ:</b> Граждане, представившие документы и сведения, не отвечающие установленным
                            требованиям, к участию в конкурсе не допускаются.
                        </td>
                    </tr>
                </table>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                       Приложение №2
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table>
                    <thead>
                    <td style="padding-top: 20px; padding-left: 20px"><h5
                            style="display: inline; font-family: Helvetica;">Служба по контролю и надзору трудового
                        законодательства при Министерстве труда</h5> социального
                        обеспечения и миграции Кыргызской Республики в соответствии с Законом Кыргызской Республики «О
                        государственной гражданской службе и муниципальной службе» объявляет открытый конкурс для
                        включения в
                        резерв кадров на младшие группы должностей <b>по Чуйской области Межрегионального управления по
                            северному
                            региону:</b></p></td>
                    </thead>
                    <tr>
                        <td>
                            <h5>Для младшей группы административных государственных должностей:</h5>
                            <ul>
                                <ol><p>1. Уровень профессионального образования:
                                    - высшее профессиональное образование любого технического или юридического
                                    профиля.</p></ol>
                                <ol><p>2. Стаж и опыт работы:
                                    - без предъявления требований к стажу работы.</p></ol>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Общего законодательства:</h5>
                            <ul>
                                <ol><p>1. Конституции Кыргызской Республики;</p></ol>
                                <ol><p>2. Закона Кыргызской Республики «О государственной гражданской службе и
                                    муниципальной службе»;</p></ol>
                                <ol><p>3. Типовой инструкции по делопроизводству в Кыргызской Республике, утвержденной
                                    постановлением Правительства Кыргызской Республики от З марта 2020 года №120.</p>
                                </ol>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Предметного законодательства:</h5>
                            <ul>
                                <li>
                                    <p>- Трудового кодекса Кыргызской Республики;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке рассмотрения обращений граждан»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «Об охране труда»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке проведения проверок субъектов
                                        предпринимательства»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке проведения проверок деятельности
                                        органов местного самоуправления»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О нормативных правовых актах Кыргызской
                                        Республики»;</p>
                                </li>
                                <li>
                                    <p>- Положения «О расследовании и учёте несчастных случаев на производстве»,
                                        утверждённого постановлением Правительства Кыргызской Республики от 27 февраля
                                        2001 года № 64;</p>
                                </li>
                                <li>
                                    <p>- Положения «о Службе по контролю и надзору трудового законодательства при
                                        Министерстве труда, социального обеспечения и миграции Кыргызской Республики»,
                                        утверждённого постановлением Кабинета Министров Кыргызской Республики от 17
                                        декабря 2021 года №317»;</p>
                                </li>
                                <li><p>- государственного и официального языков в объёме, необходимом для исполнения
                                    должностных обязанностей.</p></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Умения:</h5>
                            <ul>
                                <li>
                                    <p>- стратегического планирования работы и применения новых подходов к решению
                                        возникающих проблем;</p>
                                </li>
                                <li>
                                    <p>- принятия решений критических ситуациях и несения ответственности за принятые
                                        решения;</p>
                                </li>
                                <li>
                                    <p>- качественного исполнения поручений вышестоящих руководителей;</p>
                                </li>
                                <li>
                                    <p>- качественной подготовки документов, информации, ответов на запросы;</p>
                                </li>
                                <li>
                                    <p>- эффективного сотрудничества с коллегами;</p>
                                </li>
                                <li>
                                    <p>- ведения деловых переговоров;</p>
                                </li>
                                <li>
                                    <p>- адаптации к новым условиям труда;</p>
                                </li>
                                <li>
                                    <p>- планирования работы и правильного распределения служебного времени;</p>
                                </li>
                                <li>
                                    <p>- деловой переписки на государственном и/или официальном языке;</p>
                                </li>
                                <li>
                                    <p>- рассмотрения и подготовки ответов по обращениям граждан;</p>
                                </li>
                                <li>
                                    <p>- работы в команде;</p>
                                </li>
                                <li>
                                    <p>- своевременного выявления и разрешения проблемных ситуаций, приводящих к
                                        конфликту интересов;</p>
                                </li>
                                <li>
                                    <p>- публичного выступления.</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Навыки:</h5>
                            <ul>
                                <li>
                                    <p>- работы с нормативными правовыми актами и применения их на практике;</p>
                                </li>
                                <li>
                                    <p>- владения приёмами делового общения и проведения совещаний, встреч;</p>
                                </li>
                                <li>
                                    <p>- оперативной реализации управленческих решений;</p>
                                </li>
                                <li>
                                    <p>- владения компьютерной и оргтехникой, необходимыми программными продуктами;</p>
                                </li>
                                <li>
                                    <p>- развитые навыки коммуникаций, умение эффективно и последовательно
                                        организовывать работу по взаимодействию со структурными подразделениями Службы,
                                        органами прокуратуры, другими контрольно-надзорными органами, а также органами
                                        местного самоуправления;</p>
                                </li>
                                <li>
                                    <p>- навыки по сбору и систематизации актуальной информации в установленной сфере
                                        деятельности, умение оперативно принимать и реализовывать решения в рамках своей
                                        компетенции, правильно расставлять приоритеты, адаптироваться к новой ситуации и
                                        применять новые подходы к решению возникающих проблем, видеть, поддерживать и
                                        применять новое, передовое;</p>
                                </li>
                                <li>
                                    <p>- быть требовательным, настойчивым, уметь эффективно сотрудничать, иметь
                                        склонность к гибкости и достижению компромисса при решении проблем в конфликтных
                                        ситуациях; чувство ответственности за порученное направление деятельности;</p>
                                </li>
                                <li>
                                    <p>- умение создавать эффективные взаимоотношения в коллективе (психологический
                                        климат).</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Для участия в конкурсе необходимо</h5><span>представить следующие документы в скоросшивателе:</span>
                            <ul>
                                <li>- личное заявление по форме;</li>
                                <li>- автобиографию (с указанием сведений о наличии либо отсутствии судимости);</li>
                                <li>- резюме с фотографией по форме;</li>
                                <li>- копии документов, подтверждающих основное и дополнительное образование (при
                                    наличии), заверенные нотариально или по последнему месту работы;
                                </li>
                                <li>- копия трудовой книжки (при наличии стажа работы), заверенная нотариально или по
                                    последнему месту работы;
                                </li>
                                <li>- копии документов о присвоении ученой степени и ученого звания (при наличии);</li>
                                <li>- копия паспорта (оригинал предъявляется по прибытии на конкурс).</li>
                            </ul>
                            <span>Лица, участвующие в конкурсе, могут дополнительно представить рекомендательные письма.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; padding-left: 20px;">
                            Срок подачи документов <b>с 7 июня по 30 июня 2022 года.</b><br>
                            Документы для участия в конкурсе принимаются <b>до 18-00 часов 30 июня 2022 года по
                            адресу:</b> <br> <b>г. Бишкек, ул. Московская, 197, справки по телефону 0 (312) 61 06
                            32.</b><br>
                            <b>ВНИМАНИЕ:</b> Граждане, представившие документы и сведения, не отвечающие установленным
                            требованиям, к участию в конкурсе не допускаются.
                        </td>
                    </tr>
                </table>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                       Приложение №3
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table>
                    <thead>
                    <td style="padding-top: 20px; padding-left: 20px"><h5
                            style="display: inline; font-family: Helvetica;">Служба по контролю и надзору трудового
                        законодательства при Министерстве труда</h5> социального обеспечения и миграции Кыргызской
                        Республики в соответствии с Законом Кыргызской Республики «О государственной гражданской службе
                        и муниципальной службе» объявляет открытый конкурс для включения в резерв кадров на младшие
                        группы должностей <b>по г.Узген, Узгенскому и Кара-Кульджинскому районам Межрегионального
                            управления по южному региону:</b></p></td>
                    </thead>
                    <tr>
                        <td>
                            <h5>Для младшей группы административных государственных должностей:</h5>
                            <ul>
                                <ol><p>1. Уровень профессионального образования:
                                    - высшее профессиональное образование любого технического или юридического
                                    профиля.</p></ol>
                                <ol><p>2. Стаж и опыт работы:
                                    - без предъявления требований к стажу работы.</p></ol>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Общего законодательства:</h5>
                            <ul>
                                <ol><p>1. Конституции Кыргызской Республики;</p></ol>
                                <ol><p>2. Закона Кыргызской Республики «О государственной гражданской службе и
                                    муниципальной службе»;</p></ol>
                                <ol><p>3. Типовой инструкции по делопроизводству в Кыргызской Республике, утвержденной
                                    постановлением Правительства Кыргызской Республики от З марта 2020 года №120.</p>
                                </ol>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Предметного законодательства:</h5>
                            <ul>
                                <li>
                                    <p>- Трудового кодекса Кыргызской Республики;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке рассмотрения обращений граждан»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «Об охране труда»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке проведения проверок субъектов
                                        предпринимательства»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О порядке проведения проверок деятельности
                                        органов местного самоуправления»;</p>
                                </li>
                                <li>
                                    <p>- Закона Кыргызской Республики «О нормативных правовых актах Кыргызской
                                        Республики»;</p>
                                </li>
                                <li>
                                    <p>- Положения «О расследовании и учёте несчастных случаев на производстве»,
                                        утверждённого постановлением Правительства Кыргызской Республики от 27 февраля
                                        2001 года № 64;</p>
                                </li>
                                <li>
                                    <p>- Положения «о Службе по контролю и надзору трудового законодательства при
                                        Министерстве труда, социального обеспечения и миграции Кыргызской Республики»,
                                        утверждённого постановлением Кабинета Министров Кыргызской Республики от 17
                                        декабря 2021 года №317»;</p>
                                </li>
                                <li><p>- государственного и официального языков в объёме, необходимом для исполнения
                                    должностных обязанностей.</p></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Умения:</h5>
                            <ul>
                                <li>
                                    <p>- стратегического планирования работы и применения новых подходов к решению
                                        возникающих проблем;</p>
                                </li>
                                <li>
                                    <p>- принятия решений критических ситуациях и несения ответственности за принятые
                                        решения;</p>
                                </li>
                                <li>
                                    <p>- качественного исполнения поручений вышестоящих руководителей;</p>
                                </li>
                                <li>
                                    <p>- качественной подготовки документов, информации, ответов на запросы;</p>
                                </li>
                                <li>
                                    <p>- эффективного сотрудничества с коллегами;</p>
                                </li>
                                <li>
                                    <p>- ведения деловых переговоров;</p>
                                </li>
                                <li>
                                    <p>- адаптации к новым условиям труда;</p>
                                </li>
                                <li>
                                    <p>- планирования работы и правильного распределения служебного времени;</p>
                                </li>
                                <li>
                                    <p>- деловой переписки на государственном и/или официальном языке;</p>
                                </li>
                                <li>
                                    <p>- рассмотрения и подготовки ответов по обращениям граждан;</p>
                                </li>
                                <li>
                                    <p>- работы в команде;</p>
                                </li>
                                <li>
                                    <p>- своевременного выявления и разрешения проблемных ситуаций, приводящих к
                                        конфликту интересов;</p>
                                </li>
                                <li>
                                    <p>- публичного выступления.</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Навыки:</h5>
                            <ul>
                                <li>
                                    <p>- работы с нормативными правовыми актами и применения их на практике;</p>
                                </li>
                                <li>
                                    <p>- владения приёмами делового общения и проведения совещаний, встреч;</p>
                                </li>
                                <li>
                                    <p>- оперативной реализации управленческих решений;</p>
                                </li>
                                <li>
                                    <p>- владения компьютерной и оргтехникой, необходимыми программными продуктами;</p>
                                </li>
                                <li>
                                    <p>- развитые навыки коммуникаций, умение эффективно и последовательно
                                        организовывать работу по взаимодействию со структурными подразделениями Службы,
                                        органами прокуратуры, другими контрольно-надзорными органами, а также органами
                                        местного самоуправления;</p>
                                </li>
                                <li>
                                    <p>- навыки по сбору и систематизации актуальной информации в установленной сфере
                                        деятельности, умение оперативно принимать и реализовывать решения в рамках своей
                                        компетенции, правильно расставлять приоритеты, адаптироваться к новой ситуации и
                                        применять новые подходы к решению возникающих проблем, видеть, поддерживать и
                                        применять новое, передовое;</p>
                                </li>
                                <li>
                                    <p>- быть требовательным, настойчивым, уметь эффективно сотрудничать, иметь
                                        склонность к гибкости и достижению компромисса при решении проблем в конфликтных
                                        ситуациях; чувство ответственности за порученное направление деятельности;</p>
                                </li>
                                <li>
                                    <p>- умение создавать эффективные взаимоотношения в коллективе (психологический
                                        климат).</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Для участия в конкурсе необходимо</h5><span>представить следующие документы в скоросшивателе:</span>
                            <ul>
                                <li>- личное заявление по форме;</li>
                                <li>- автобиографию (с указанием сведений о наличии либо отсутствии судимости);</li>
                                <li>- резюме с фотографией по форме;</li>
                                <li>- копии документов, подтверждающих основное и дополнительное образование (при
                                    наличии), заверенные нотариально или по последнему месту работы;
                                </li>
                                <li>- копия трудовой книжки (при наличии стажа работы), заверенная нотариально или по
                                    последнему месту работы;
                                </li>
                                <li>- копии документов о присвоении ученой степени и ученого звания (при наличии);</li>
                                <li>- копия паспорта (оригинал предъявляется по прибытии на конкурс).</li>
                            </ul>
                            <span>Лица, участвующие в конкурсе, могут дополнительно представить рекомендательные письма.</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; padding-left: 20px;">
                            Срок подачи документов <b>с 7 июня по 30 июня 2022 года.</b><br>
                            Документы для участия в конкурсе принимаются <b>до 18-00 часов 30 июня 2022 года по
                            адресу:</b> <br> <b>г. Бишкек, ул. Московская, 197, справки по телефону 0 (312) 61 06
                            32.</b><br>
                            <b>ВНИМАНИЕ:</b> Граждане, представившие документы и сведения, не отвечающие установленным
                            требованиям, к участию в конкурсе не допускаются.
                        </td>
                    </tr>
                </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Terms & Conditions Area -->

{%endblock%}