{% extends 'index.html' %}
{% load static %}

{%block active%} active {%endblock%}
{%block statistic%} active {%endblock%}
{% block page %}


<!-- Start Page Title Area -->
<div class="page-title-area bg-7">
    <div class="container">
        <div class="page-title-content">
            <h2></h2>

            <ul>
                <li>
                    <a href="{% url 'home' %}">
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!--<img style="width: 100%;" src="http://sochimk.ru/media/2377/%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0-%D0%B2-%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B5.png" alt="">-->


<!--		<section class="counter-area bg-color-171717 pt-100 pb-70">-->
<!--			<div class="container">-->
<!--				<span class="counter-title">Статистика:</span>-->

<!--				<div class="row">-->
<!--					<div class="col-lg-3 col-sm-6">-->
<!--						<div class="single-counter">-->
<!--							<h2>-->
<!--								<span class="odometer" data-count="145792">00</span>-->
<!--								<span class="target"> ☹</span>-->
<!--							</h2>-->
<!--							<h4>Нарушены трудовые права по КР</h4>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="col-lg-3 col-sm-6">-->
<!--						<div class="single-counter">-->
<!--							<h2>-->
<!--								<span class="odometer" data-count="86430">00</span>-->
<!--								<span class="target">✔</span>-->
<!--							</h2>-->
<!--							<h4>Довольных граждан по КР</h4>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="col-lg-3 col-sm-6">-->
<!--						<div class="single-counter">-->
<!--							<h2>-->
<!--								<span class="odometer" data-count="158">00</span>-->
<!--								<span class="target">✎</span>-->
<!--							</h2>-->
<!--							<h4>Обращений в день</h4>-->
<!--						</div>-->
<!--					</div>-->

<!--					<div class="col-lg-3 col-sm-6">-->
<!--						<div class="single-counter">-->
<!--							<h2>-->
<!--								<span class="odometer" data-count="1.764">00</span>-->
<!--								<span class="target">€</span>-->
<!--							</h2>-->
<!--							<h4>Рост ЗП в месяц по КР</h4>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</section>-->

<section class="our-values-area pt-100 pb-70">
    <div class="section-title">
        <h2>Статистика:</h2>
    </div>
    <div class="container">
        <div class="row">
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3>{{name.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h3>{{before.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h3>{{after.title}}</h3>

            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        <div class="row">
            {% for s in statistic1 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}

                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic2 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>{% for s in statistic3 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>{% for s in statistic4 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>{% for s in statistic5 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic6 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic7 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic8 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic9 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic10 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
                        <div class="row">
                <div class="col"><h4>.</h4></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {% for s in statistic11 %}
            <div style="border: 1px groove black; text-align: center; " class="col-8">
                <h3 style="font-weight: normal;">{{s.title}}</h3>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score1}}</h4>
            </div>
            <div style="border: 1px groove black; text-align: center;" class="col">
                <h4 style="font-weight: normal;">{{s.score2}}</h4>

            </div>
            {% endfor%}
        </div>
    </div>


</section>


{%endblock%}