{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{%block partners%} active {%endblock%}

{% block page %}



<!-- Start Page Title Area -->
		<div class="page-title-area bg-16">
			<div class="container">
				<div class="page-title-content">
					<h2></h2>

					<ul>
						<li>
							<a href="{% url 'home' %}">

							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Case Area -->
		<div class="case-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>{% trans 'Биздин партнерлор' %}</h2>
				</div>

				<div class="shorting-menu">
					<button class="filter" data-filter="all">
						{% trans 'Бардыгы' %}
					</button>
					{% for i in partners %}
					<button class="filter" data-filter=".{{ i.id }}">
						{{ i.name }}
					</button>
					{% endfor %}
				</div>

				<div class="shorting">
					<div class="row justify-content-center">

						{% for p in partners %}
						<div class="col-lg-4 col-md-6 mix {{ p.id }}">
							<div class="single-case mt-0 mb-30">
								<a target="_blank" href="{{p.link}}">
								<img src="{{p.logo.url}}" alt="Image">
								</a>

							</div>
						</div>
						{% endfor %}


					</div>
				</div>
			</div>
		</div>
		<!-- End Case Area -->

{%endblock%}