
{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{%block mail%} active {%endblock%}

{% block page %}



		<!-- Start Page Title Area -->
		<div class="page-title-area bg-11">
			<div class="container">
				<div class="page-title-content">

					<ul>
						<li>

						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

<!-- Start Our Values Area -->
		<section class="our-values-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>{% trans 'Электрондук кайрылуу' %}</h2>
				</div>

				<div align="center" class="row justify-content-center">

					<div class="col-lg-4 col-sm-6">
						<div class="single-values box-none">
							<a href="{%url 'v1'%}">
							<i class="flaticon-trust"></i>
							<h3> {% trans 'Апелляциялык даттанууларды берүү эрежелери' %}</h3>
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-values box-none">
							<a href="{%url 'v2'%}">
							<i class="flaticon-honesty"></i>
							<h3> {% trans 'Жеке адам' %}</h3>
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-values box-none">
							<a href="{%url 'v3'%}">
							<i class="flaticon-law-book"></i>
							<h3> {% trans 'Юридикалык жак' %}</h3>
							</a>
						</div>
					</div>


				</div>
			</div>
		</section>
		<!-- End Our Values Area -->
{%endblock%}