
{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{%block mail%} active {%endblock%}

{% block page %}




<!-- Start Page Title Area -->
		<div class="page-title-area bg-2">
			<div class="container">
				<div class="page-title-content">
					<h2></h2>

					<ul>
						<li>
							<a href="{% url 'home' %}">

							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- End Terms & Conditions Area -->
		<section class="ptb-100">
			<div class="container">
				<div  class="main-content-text">
					<h3 align="center"></h3>
					<h3 align="center">{% trans 'Урматтуу сайттын колдонуучулары!'%} <br>{% trans 'Сизди Кызматтын сайты тосуп алат, анда сиз өзүңүздүн интернет кайрылууларыңызды жөнөтө аласыз бизге электрондук почта аркылуу. Арызыңызды электрондук түрдө тапшыруудан мурун, биз сизди таанышууга чакырабыз көрсөтмө.' %}</h3>

					<div class="gap-20"></div>

					<h3 align="center">{% trans 'Электрондук кайрылуулар боюнча нускамалар'%}</h3>
					<p>1. {% trans 'Биздин веб-сайт аркылуу электрондук түрдө жөнөтүлгөн кайрылуулар Кызматтын кароосуна берилет.'%}</p>
					<p>2. {% trans 'Электрондук кайрылууну жөнөтүүдөн мурун форманы туура толтуруу керек (милдеттүү талаалар).'%}</p>
					<p>3. {% trans 'Кайрылуунун авторуна жооп фамилиясы, аты, атасынын аты (эгер акыркысы - бар болсо), электрондук дареги (e-mail) жана үй дареги көрсөтүлсө, электрондук документ түрүндө жөнөтүлөт. (резидент), ошондой эле телефон номери.'%}</p>
					<p>4. {% trans 'Авторго анын арызын кароонун жүрүшү жөнүндө билдирүү электрондук түрдө формада көрсөтүлгөн электрондук почта дарегине (e-mail) жөнөтүлөт.'%}</p>
					<p>5. {% trans 'Электрондук кайрылуунун көлөмү 4000 белгиден ашпашы керек.'%}</p>
					<p>6. {% trans 'Апелляцияга тиркелген документтер жана материалдар архивделбестен бир файл түрүндө электрондук түрдө камтылышы мүмкүн. Тиркеменин файлынын өлчөмү 5 МБ ашпашы керек. Тиркемелер үчүн төмөнкү файл форматтарына уруксат берилет: txt, doc, rtf, xls, pps, ppt, pdf, jpg, bmp, png, tif, pcx, mp3, wma, avi, mp4, mkv, wmv, mov, flv. Башка форматтар иштетилбейт.'%}</p>
					<p>7. {% trans 'Апелляция ст. ылайык кароого кабыл алынбайт. 6 "Жарандардын арыздарын кароонун тартиби жөнүндө" Кыргыз Республикасынын Мыйзамына, эгерде'%}:
					<ul>
						<li>
							- {% trans 'анда уят сөздөр, кемсинткен сөздөр бар'%};
						</li>
						<li>
							- {% trans 'текст латын алфавитин пайдалануу менен кыргыз же орус тилдеринде жазылган же сүйлөмгө бөлүнбөй, баш тамгалар менен терилген'%};
						</li>
						<li>
							- {% trans 'толук эмес же жараксыз почта дареги жана үй дареги (резидент)'%};
						</li>
						<li>
							- {% trans 'кайрылууда конкреттүү арыздар, даттануулар, сунуштар жок'%};
						</li>
						<li>
								- {% trans 'ошондой эле калыптанып калган мамлекеттик тузулушту кулатууга, улуттар аралык жана конфессиялар аралык кастыкты тутандырууга чакырыктар айтылды'%}.
						</li>
					</ul>
					</p>
					<div class="gap-20"></div>





				</div>
			</div>
		</section>
		<!-- End Terms & Conditions Area -->



{%endblock%}