
{% extends 'index.html' %}
{% load static %}

{%block mail%} active {%endblock%}

{% block page %}




<!-- Start Page Title Area -->
		<div class="page-title-area bg-2">
			<div class="container">
				<div class="page-title-content">
					<h2></h2>

					<ul>
						<li>
							<a href="{% url 'home' %}">

							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- End Terms & Conditions Area -->
		<section class="ptb-100">
			<div class="container">
				<div  class="main-content-text">
					<h3 align="center">УВАЖАЕМЫЕ ПОЛЬЗОВАТЕЛИ САЙТА!</h3>
					<h3 align="center">Вас приветствует сайт Службы, где Вы можете направлять свои интернет - обращения в наш адрес посредством электронной почты.
Прежде чем отправить обращение в электронном виде предлагаем Вам ознакомиться с инструкцией.</h3>

					<div class="gap-20"></div>

					<h3 align="center">ИНСТРУКЦИЯ ПО ЭЛЕКТРОННЫМ ОБРАЩЕНИЯМ</h3>
					<p>1. Обращения, направленные в электронном виде через наш сайт, поступают на рассмотрение в Службу.</p>
					<p>2. Перед отправкой электронного обращения необходимо корректно заполнить форму (обязательные поля).</p>
					<p>3. Ответ автору обращения направляется в форме электронного документа, если им указаны фамилия, имя, отчество (последнее – при наличии) адрес электронной почты (e-mail) и домашний адрес (проживающий), а также номер телефонв.</p>
					<p>4. Уведомление автору о ходе рассмотрения его обращения направляется в электронном виде по адресу электронной почты (e-mail), указанному в форме.</p>
					<p>5. Размер электронного обращения не может превышать 4 тысячи знаков.</p>
					<p>6. Обращение может содержать вложенные документы и материалы в электронной форме в виде одного файла без архивирования. Размер файла вложения не может превышать 5 Мб. Для вложений допустимы следующие форматы файлов: txt, doc, rtf, xls, pps, ppt, pdf, jpg, bmp, png, tif, pcx, mp3, wma, avi, mp4, mkv, wmv, mov, flv. Иные форматы не обрабатываются.</p>
					<p>7. Обращение не принимается к рассмотрению, в соответствии со ст. 6 прим 1, Закона Кыргызской Республики «О порядке рассмотрения обращений граждан», если:
					<ul>
						<li>
							- в нем содержится нецензурная лексика, оскорбительные выражения;
						</li>
						<li>
							- текст написан на кыргызском или русском языках с использованием латиницы или набран целиком заглавными буквами, не разбит на предложения;
						</li>
						<li>
							- указан неполный или недостоверный почтовый адрес и домашний адрес (проживающий);
						</li>
						<li>
							- обращение не содержит конкретных заявлений, жалоб, предложений;
						</li>
						<li>
								- а также призывы к свержению существующего государственного строя и разжиганию межнациональной и межконфессиональной розни.
						</li>
					</ul>
					</p>
					<div class="gap-20"></div>





				</div>
			</div>
		</section>
		<!-- End Terms & Conditions Area -->



{%endblock%}